.contact-title {
  font-size: 40px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 15px;
}

.contact-subtitle {
  text-align: center;
  width: 700px;
  color: gray;
  margin-top: 0px;
}
.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.form-contact {
    width: fit-content;
    padding: 10px 20px;
    margin: auto;
}

.name-contact {
  color: gray;
  font-size: 20px;
  margin: 10px auto;
}

.placeholder-input {
  padding: 10px 10px;
  width: 400px;
  border-radius: 10px;
  border: none;
  border: 1px solid gray;
  margin-bottom: 15px;
  font-size: 17px;
}

.placeholder-input-textarea {
  height: 100px;
  padding: 10px 10px;
  width: 400px;
  border-radius: 10px;
  border: none;
  border: 1px solid gray;
  margin-bottom: 15px;
  display: block;
  font-size: 20px;
}

.btn-contact-send {
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    background-color: lightgreen;
    color: white;
    width: 150px;
    margin: 10px auto;
    cursor: pointer;
}

@media(max-width:768px) {
    .contact-subtitle {
        width: 400px;
    }

}