.footer {
  background-color: #1d3026;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-wrap: wrap;
  padding: 20px;
}

.logo {
  color: white;
}

.logo-footer {
  display: flex;
  flex-direction: column;
}
.footer-info {
  color: white;
  width: 250px;
}

.quick-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 10px;
}

.quick-links-text {
  color: white;
}

.contact-address {
  color: white;
  margin: 10px;
}

.footer-menu {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 5px 0px;
}

.number {
  display: flex;
  align-items: center;
  width: 250px;
}

.footer-icon {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .quick-links {
    display: none;
  }

  .contact-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .logo-footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}
