#body {
  margin: 0;
  padding: 0;
}

.header {
  margin: 0px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 7px rgb(145, 231, 145);
  padding: 0px 13px;
  border-radius: 50px;
  background-color: white;
  position: sticky;
  top: 8px;
  height: 60px;
  max-width: 100%;
}
.logo-name {
  font-size: 20px;
}

.hightlighter {
  color: lightgreen;
}

.menu {
  font-size: 20px;
  margin: 10px;
  text-decoration: none;
  color: black;
}
.menu:hover {
  border-bottom: 2px solid lightgreen;
  color: lightgreen;
  transition: 0.3s;
}

.menu-contact {
  font-size: 20px;
  margin: 10px;
  text-decoration: none;
  color: black;
}

.menu-contact:hover {
  border-bottom: 2px solid lightgreen;
  color: lightgreen;
  transition: 0.3s;
}

@media (max-width: 768px) {

  .header {
    width: 100%;
  }
  .menu-contact {
    display: none;
  }

}